* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: lightblue;
    --fg-color: darkblue;
    --br-color: green;
    --dark-gray: #333;
    --light-gray: #777;
    --lighter-gray: #bbb;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: var(--lighter-gray);
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto);
}
/* body > * {
    padding: 30px;
    border: 1px solid;
} */
a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr;
    grid-gap: 10px;
    padding: 10px;
}
main > div {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}
#utc {
    visibility: hidden;
    font-size: 1.2rem;
    transform: translateX(10px);
    transition: transform 500ms ease-out, visibility 500ms ease-out;
}
#utc.animate {
    visibility: visible;
    transform: translateX(-10px);
}
/* main > div {
    background-color: #eee;
    width: 300px;
    height: 300px;
    border: 1px solid #bbb;
    font-size: 4rem;
    text-align: center;
    margin: 100px auto 0;
    /* display: none; /
    transform: scale(0);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-duration: 5s; */
    /* animation-delay: 2s; */
    /* animation-iteration-count: 1; */
    /* animation-fill-mode: forwards; */
    /* animation-timing-function: ease-in-out; /
}
main > div.visible {
    /* display: block; /
    transform: scale(1);
} */
/* main > div:nth-child(odd) {
    animation-name: anime;
    animation-direction: normal;
} */
/* main > div:nth-child(even) {
    animation-name: animeReverse;
    animation-direction: normal;
} */
/* @keyframes anime {
    to {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes animeReverse {
    to {
        transform: scale(1) rotate(360deg);
    }
} */
aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    
}
.menu__wrapper {
    /* display: content; //for displaying only text without icon */
    /* display: table-column; //for display only icon without text */
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    transform: scale(0);
    transition: transform 100ms ease-out;
}
.menu__wrapper > * {
    display: block;
}
.aside__icon {
    width: 30px;
    margin: 0 auto;
}
.menu__wrapper.visible {
    transform: scale(.7);
}
.menu__wrapper.active span::after {
    border: 2px solid #009578;
    width: 30px;
}
span::after {
    content: '';
    /* border: 0px; */
    border-radius: 10px 10px 0 0;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #009578;
    /* height: 5px; */
    transition: width 150ms linear;
}
@media screen and (max-width: 667px) {
    aside {
        grid-row-start: 3;
        position: sticky;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    footer {
        display: none;
    }
}
/* 
#container {
    max-width: 960px;
    min-height: 100vh;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}
header {
    grid-column: 1 / 8;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 1rem;
}
#menu-btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#uname-ulvl span {
    display: block;
}
#uname-ulvl span:first-child {
    color: var(--dark-gray);
}
#uname-ulvl span:last-child {
    color: var(--light-gray);
    font-size: .75rem;
}
#header-menu {
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}
input#search-bar {
    padding: 8px 16px;
    width: 20rem;
    border: 1px solid var(--light-gray);
}
aside {
    display: grid;
    grid-auto-columns: minmax(300px, auto);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    backdrop-filter: blur(5px);
    overflow-y: auto;
}
#aside-menu {
    border: 1;
    margin-top: 80px;
}
.menu__item {
    position: relative;
    cursor: pointer;
}
.menu__item a {
    text-decoration: none;
    display: block;
    padding: 1rem 30px;
    position: relative;
}
.menu__item a i {
    margin-right: 10px;
}
i.fas.fa-angle-right.dropdown {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.sub__menu {
    display: none;
    padding-left: 30px;
}
main {
    grid-column: 2 / 8;
    padding-left: 100px;
}
h1#pg-title {
    font-weight: 400;
}
#main-content section {
    font-size: 2rem;
    font-weight: 100;
}
footer {
    grid-column: 2 / 8;
}
@media screen and (max-width: 667px) { /*iPhone SE/
    header, main, footer {
        grid-column-start: 1;
    }
    aside {
        left: -100%;
    }
}*/
.display {
    display: block;
}
.rotate {
    transform: translateY(-50%) rotate(90deg);
}