div.left__right__arrow {
    display: flex;
}
::-webkit-scrollbar {
    width: 0;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    width: 100%;
    transition: transform 500ms ease-in-out;
}
nav.toggle {
    /* opacity: 0; */
    /* min-width: 0%; */
    /* width: 0%; */
    transform: translateX(-375px);
    /* pointer-events: none; */
}
@media screen and (orientation: landscape) {
    nav.toggle {
        transform: translateX(-667px);
    }
    nav > header > address {
        white-space: normal;
        text-overflow: ellipsis;
        width: 80%;
    }
}
section {
    min-width: 100%;
    width: 100%;
}