@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @font-face {
    font-family: "Noto Sans";
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
@font-feature-values "Noto Sans" {
    @swash {
      fancy: 1;
    }
  } */
html, body {
    font-family: "Noto Sans", sans-serif;
    font-variant-alternates: swash(fancy);
}
body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4173d1;
}
a {
    text-decoration: none;
    color: #555;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #555;
}
div.container {
    width: 80%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #333; */
    /* box-shadow: 0 0 5px 5px lightskyblue; */
    /* margin: 0 300px; */
}
@media screen and (max-width: 667px) {
    div.container {
        position: relative;
        margin: 0;
        width: 100%;
    }
    nav {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        /* width: 100%; */
    }
    .nav__header {
        position: initial;
    }
}
nav {
    min-width: 25%;
    background-color: #0004;
    z-index: 1;
}
nav,
nav a,
nav button {
    color: #fff;
}
.nav__header,
.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(181, 199, 232);
    /* box-shadow: 0 3px 5px 3px #ccc inset; */
    position: sticky;
    top: 0;
    padding: 20px 0; /*alternates with .nav__header > div padding style*/
}
.nav__header > div {
    padding: 0 20px;
    /* border: 1px solid gray; */
}
.nav__header > div:first-child {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #ccc;
}
.nav__header > div:nth-child(2) {
    display: flex;
    align-items: center;
}
button.actn__btn {
    font-size: 1.5rem;
    line-height: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    /* transform: scale(1); */
    transition: background-color 250ms ease 150ms, color 250ms ease 150ms/*, transform 250ms ease 50ms*/;
}
button.actn__btn:hover {
    background-color: #4173d1;
    color: #fff;
    /* transform: scale(1); */
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    /* border: 1px solid darkslateblue; */
    background-color: #fff;
}
.nav__body {
    height: 60vh;
    /* overflow: hidden; */
    overflow-y: scroll;
    /* background-color: rgb(212, 220, 236); */
}
.nav__body > div {
    cursor: pointer;
    position: relative;
}
.nav__body > div > img {
    width: 40px;
    margin-left: 20px; /*always 10x more than a.prsnam 2nd padding value*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
a.prsnam {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 20px 60px;
    /* background-color: #fff; */
    transition: background-color 150ms ease/*transform 200ms ease*/;
}
a.prsnam:hover,
.nav__body > div > img:hover + a.prsnam {
    background-color: #0004;
    /* transform: translateX(-10px); */
}
a.prsnam > span:first-child {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    /* transition: white-space 150ms ease-out; */
}
/* a.prsnam > span:first-child:hover {
    white-space: wrap;
} */
section {
    min-width: 75%;
    background-color: #f3f3f3;
    /* position: relative; */
}
/* section::before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    border: .5px solid #ccc;
} */
/* .section__header {
    box-shadow: 0 3px 5px 3px rgb(217, 226, 244);
} */
.section__header > div {
    padding: 0 20px;
}
.section__header > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.section__header > div > img {
    width: 20px;
    border-radius: 50%;
}
button.menu {
    transform: rotate(90deg);
}
div.enclosure {
    /* margin: 100px 400px; */
    padding: 50px;
    /* opacity: .75; */
    /* color: #fff; */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: minmax(50px, auto);
    gap: 50px;
    align-items: center;
    place-content: center;
    transform: translateY(20px);
    transition: transform 500ms ease-out;
}
/* div.cast {
} */
div.enclosure.animate {
    transform: translateY(-20px);
}
div.cast > * {
    padding: 5px 0;
}
div.hdg,
div.rle {
    text-align: center;
}
div.hdg {
    font-weight: 700;
    color: chocolate;
}
dialog[open] {
    opacity: 1;
    transform: scale(1);
}
dialog {
    outline: none;
    border: none;
    margin: auto;
    width: 700px;
    aspect-ratio: 1;
    padding: 0 20px;
    opacity: 0;
    transform: scale(1.2);
    transition: 
        opacity .2s ease-out,
        transform .2s cubic-bezier(0, -0.15, 0.92, 1.56),
        display .2s ease-out allow-discrete,
        overlay .2s ease-out allow-discrete;
}
@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scale(0);
    }
}
form#regform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.input__group > * {
    display: block;
    width: 100%;
}
.input__group:first-of-type {
    padding: 20px;
    grid-column: span 2;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.input__group:last-of-type {
    margin: 20px auto;
    padding: 20px;
    grid-column: span 2;
    display: flex;
    justify-content: right;
    gap: 1rem;
    /* align-items: center; */
}
.input__group > input:not(input[type="date"],input[type="submit"],input[type="reset"]),
.input__group > select,
.input__group > textarea {
    padding: 10px 0px;
    text-indent: 25px;
    border: 1px solid #aaa;
}
input[type="date"] {
    border: 1px solid #aaa;
    padding: 10px 25px;
}
input[type="submit"],
input[type="reset"] {
    outline: none;
    border: none;
    width: 100px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #4173d1;
}
input[type="reset"] {
    background-color: #ff4500;
}
figure {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column;
    border: thin #c0c0c0 solid;
}
figcaption {
    padding: 3px;
    font: italic smaller Arial, sans-serif;
    text-align: center;
}
input[type="file"] {
    width: 0;
    opacity: 0;
}
input[type="file"] + label {
    cursor: pointer;
    padding: 12px 0;
    background-color: #4173d1;
    color: #f3f3f3;
    text-align: center;
}
button#upd-btn {
    width: 50%;
    margin: auto;
    padding: 14px;
    background-color: #009578;
    color: #f3f3f3;
}